<h1>Users</h1>
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<%= render 'books/list', user: current_user, book: @book2 %>
					<div class="container">
						<div class="row">
							<div class="col-lg-9">
								<table class="table table-striped">
									<thead>
										<tr>
											<td>image</td>
											<td>name</td>
										</tr>
									</thead>

									<tbody>
										<% @users.each do |user| %>
										<tr>
											<td><%= attachment_image_tag user, :profile_image, format:"jpeg", fallback:"no-image.jpg", size:"60x60" %></td>
											<td><%= user.name %></td>
											<td><%= link_to 'show', user_path(user) %></td>
										</tr>
										<% end %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>