<p id="notice"><%= notice %></p>

	<h1>welcome to<span class="glyphicon glyphicon-book" aria-hidden="true"><strong>Bookers</strong>  !!</span></h1>
	<p>In <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers,</strong></p>
	<p>you can share and exchange your options,inpressions,and emotions<br>
	about various books!</p>

	<%= link_to "log in", new_user_session_path %>
	<%= link_to "Sign up", new_user_registration_path %>
